
/*
.rounded {
	border-radius:2em !important;
}

.rounded-bottom {
	border-bottom-left-radius:2em !important;
	border-bottom-right-radius:2em !important;
}

.rounded-top {
	border-top-left-radius:2em !important;
	border-top-right-radius:2em !important;
}
*/

